<a href="https://colab.research.google.com/github/maulya230/Python-Machine-Learning-/blob/main/Machine%20Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
#read csv file
data=pd.read_csv("/content/StudentsPerformance.csv")

In [3]:
data.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [8]:
#measure of central tendency
data['math score'].mode()

0    65
dtype: int64

In [10]:
data['math score'].median()

66.0

In [12]:
data['math score'].mean()

66.089

In [15]:
#outlier value with is out of range / a number which is far from value
#of other dataset
#range iqr. variance and standard deviation
min=data['math score'].min()
max=data['math score'].max()

print(min,max)

0 100

In [16]:
'''Spread of the data 
measure of how far the numbers in a data set are away 

Range
the range is the spread of the data from the lowest to the highest value 
in distribution (difference between largest and 
smallest value)

Quantile
are the sets of values/points that divides the dataset into groups of equal 
size.

Quartile
is a type of quantile which divides the number of data points into 
four parts or quarters

Quartile is 1/4th of quantile.

'''

'Spread of the data \nmeasure of how far the numbers in a data set are away \n\nRange\nthe range is the spread of the data from the lowest to the highest value \nin distribution (difference between largest and \nsmallest value)\n\nQuantile\nare the sets of values/points that divides the dataset into groups of equal \nsize.\n\nQuartile\nis a type of quantile which divides the number of data points into \nfour parts or quarters\n\nQuartile is 1/4th of quantile.\n\n'

In [18]:
Q1=data['math score'].quantile(0.25)
Q2=data['math score'].quantile(0.50)
Q3=data['math score'].quantile(0.75)
Q4=data['math score'].quantile(1)

print("Q1:%d Q2:%d Q3:%d Q4:%d"%(Q1,Q2,Q3,Q4))

Q1:57 Q2:66 Q3:77 Q4:100

In [20]:
IQR= Q3 -Q1
print("IQR: %d"%IQR)

IQR: 20

In [22]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000